h1{
    margin:0;
}
.main {
    
        margin: auto;
        width: 50%;
        max-width: 550px;
    
        background: #1F2937;
        border: 1px solid #000000;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        text-align: center;
}
.header {
    padding:30px;
    background: linear-gradient(246.26deg, #585DFE 0%, #FB3796 100%);
}
.heading {
    font-family: 'Inter';
        font-style: normal;
        font-weight: 800;
        font-size: 22px;
        line-height: 38px;
        
        text-align: center;
        letter-spacing: -0.05em;
    
        color: #FFFFFF;
}
.number_to_convert{
    padding-top:30px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 800;
        width: 300px;
        font-size: 97.5723px;
        line-height: 24px;
        text-align: center;
        color: #FFFFFF;
}

#number {
    color: #FFFFFF;
    text-align: center;
    font-size: 1.2em;
    background-color: #1F2937;
    border: 1px solid #000000;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding : 20px 0;
    margin:5px;
}

.body{
    padding-top:15px;
        height: 250px;
}

.results{
    font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        /* or 143% */
    
        text-align: center;
    
        color: #FFFFFF;
}

.sub_results{
    
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        /* or 143% */
    
        text-align: center;
    
        color: #D2D2D2;
}